# Ignore results from testing
work/
results*/
.nextflow*
.DS_Store
fastp.html
Rplots.pdf
slurm*
Notes.md
*.pyc
null/

# Builds
build/
*.egg-info/
!modules/**/build/

# Pesky vscode
.vscode/

# pycaches
__pycache__
*.pyc

# Vim editor
*.swp
.nextflow*
work/

# Results and tests
results/
.nf-test.log
.nf-test/
