# Ignore results from testing
work/
results*/
.nextflow*
.DS_Store
fastp.html
Rplots.pdf
slurm*
Notes.md
*.pyc
null/

# Builds
build/
*.egg-info/

# Pesky vscode
.vscode/

# pycaches
__pycache__
*.pyc

# Vim editor
*.swp
.nextflow*
work/

results/
