/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for using mapped Artic primers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines Artic primer bed files for each of the preset genotypes.

    Use as follows:
        nextflow run phac-nml/measeq -profile artic_primers,<docker/singularity>
            --input <SAMPLESHEET.CSV>
            --platform <ILLUMINA|NANOPORE>
            --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Artic Primers Profile'
    config_profile_description = 'Preset mapped Artic primer bed files for D8, B3, and A MeV genotypes'

    // Input Data and Params
    amplicon                   = true
    default_bed                = "${projectDir}/assets/reference/D8/artic_primers.bed"
    A_bed                      = "${projectDir}/assets/reference/A/artic_primers.bed"
    B3_bed                     = "${projectDir}/assets/reference/B3/artic_primers.bed"
    D8_bed                     = "${projectDir}/assets/reference/D8/artic_primers.bed"
}
