// IRIDA Next Config
iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "irida_id"
            global = [
                "**/MeaSeq_Report.html",
                "**/reporting/*-Amplicon-Summary-MultiQC-Report.html",
                "**/pipeline_info/measeq_software_mqc_versions.yml",
                "**/overall.xlsx",
                "**/novel_dsids.tsv",
                "**/predictions.csv"
            ]
            samples = [
                "**/bam/ivar/*.sorted.bam*",
                "**/bam/artic/*.sorted.bam*",
                "**/consensus/*.N450.fasta",
                "**/consensus/*.consensus.fasta",
                "**/vcf/processed_vcf/*.processed.norm.vcf.gz",
                "**/vcf/final/*.pass.norm.vcf.gz"
            ]
        }
        metadata {
            samples {
                ignore = ["sample"]
                csv {
                    path = "**/overall.qc.csv"
                    idcol = "irida_id"
                }
            }
        }
    }
}
