/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Default publish
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
    // Args and Prefix Adjustments
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: NANOQ {
        ext.args = "-l ${params.ont_min_read_length} -q 12 --json"
    }

    withName: FASTP {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 25 --average_qual 25 --length_required 100'
    }

    // Filtering to just properly paired reads
    //  Output then with sort
    withName: BWAMEM2_MEM {
        ext.prefix = { "${meta.id}" }
        ext.args2 = '-b -f 3 -F 2048'
        publishDir = [
            enabled: false
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/bam/bwamem" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BCFTOOLS_CONSENSUS_AMBIGUOUS {
        ext.prefix = { "${meta.id}.ambiguous" }
        ext.args = '-I'
    }

    withName: NEXTCLADE_RUN_N450 {
        ext.prefix = { "${meta.id}-N450" }
    }

    withName: NEXTCLADE_RUN_CUSTOM {
        ext.prefix = { "${meta.id}-WG" }
    }

    withName: SAMTOOLS_DEPTH {
        // Adding min baseq of 12 for depth for both illumina and nanopore to match
        ext.args = '-a -q 12'
        ext.prefix = { "${meta.ref_id}_${meta.id}_depth" }
        publishDir = [
            path: { "${params.outdir}/reporting/positional_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BEDTOOLS_COVERAGE {
        ext.prefix = { "${meta.id}_amplicon_stats" }
        ext.args = '-F 0.90'
        publishDir = [
            path: { "${params.outdir}/reporting/amplicon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "CALCULATE_BAM_VARIATION" {
        // 12 qual to match nanopore filter, min read depth slightly below in case of multi-allelic sites in freebayes
        //  with low depth after the variant
        ext.args = "--min_base_qual 12 --min_read_count ${params.min_depth - 2}"
        publishDir = [
            path: { "${params.outdir}/reporting/sample_variation" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~ //
    // Output Path Adjustments
    // ~~~~~~~~~~~~~~~~~~~~~~~ //

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Reference & Prediction
    withName: "STAGE_FILE_IRIDANEXT" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: "GENERATE_REF_INTERMEDIATES" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "GENERATE_AMPLICON_BED" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "SPLIT_AMPLICON_REGION" {
        publishDir = [
            path: { "${params.outdir}/reference/amplicon_regions" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PREDICT_GENOTYPE" {
        publishDir = [
            enabled: false
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Illumina
    withName: "BWAMEM2_INDEX" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "IVAR_TRIM" {
        publishDir = [
            path: { "${params.outdir}/bam/ivar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PICARD_MARKDUPLICATES" {
        ext.prefix = { "${meta.id}.markduplicate.sorted" }
        ext.args = '--ASSUME_SORTED true --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp --REMOVE_DUPLICATES true'
        publishDir = [
            path: { "${params.outdir}/bam/picard" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: ".*BAM_STATS_SAMTOOLS:.*" {
        publishDir = [
            path: { "${params.outdir}/reporting/samtools_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "FREEBAYES" {
        publishDir = [
            path: { "${params.outdir}/vcf/freebayes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PROCESS_VCF" {
        publishDir = [
            path: { "${params.outdir}/vcf/processed_vcf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Nanopore
    withName: "ARTIC_GET_MODELS" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MINIMAP2_ALIGN" {
        publishDir = [
            path: { "${params.outdir}/bam/minimap2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "ARTIC_ALIGN_TRIM" {
        publishDir = [
            path: { "${params.outdir}/bam/artic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "CLAIR3.*" {
        publishDir = [
            path: { "${params.outdir}/vcf/clair3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "ARTIC_VCF_MERGE" {
        publishDir = [
            path: { "${params.outdir}/vcf/artic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "CUSTOM_VCF_FILTER" {
        publishDir = [
            path: { "${params.outdir}/vcf/artic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "BCFTOOLS_NORM" {
        publishDir = [
            path: { "${params.outdir}/vcf/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "VCF_TO_TSV" {
        publishDir = [
            path: { "${params.outdir}/vcf/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Both
    withName: ".*MASK.*" {
        publishDir = [
            path: { "${params.outdir}/mask" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // We adjust the names later so no need to publish these
    withName: "BCFTOOLS_CONSENSUS.*" {
        publishDir = [
            enabled: false
        ]
    }

    withName: "ADJUST.*" {
        publishDir = [
            path: { "${params.outdir}/consensus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "COMPARE_INTERNAL_DSID" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MAKE_SAMPLE_QC_CSV" {
        publishDir = [
            path: { "${params.outdir}/reporting/sample_csv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MAKE_FINAL_QC_CSV" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Reporting Intermediates
    //  Amplicons
    withName: "SAMPLE_AMPLICON.*" {
        publishDir = [
            path: { "${params.outdir}/reporting/amplicon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "AMPLICON_.*_HEATMAP" {
        publishDir = [
            path: { "${params.outdir}/reporting/amplicon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "AMPLICON_MULTIQC" {
        publishDir = [
            path: { "${params.outdir}/reporting" },
            pattern: "*.html",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // Summary
    withName: "POSITIONAL_N_DEPTH" {
        publishDir = [
            path: { "${params.outdir}/reporting/positional_n" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PYSAMSTATS" {
        publishDir = [
            path: { "${params.outdir}/reporting/positional_quality" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "NORMALIZE_DEPTH_MATRIX" {
        publishDir = [
            path: { "${params.outdir}/reporting/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MAKE_CUSTOM_REPORT" {
        publishDir = [[
            path: { "${params.outdir}" },
            pattern: "*.html",
            mode: params.publish_dir_mode,
        ],
        [
            path: { "${params.outdir}/pipeline_info" },
            pattern: "*.yml",
            mode: params.publish_dir_mode,
        ]]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
