/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    phac-nml/measeq Nextflow reference config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file for references to be used when there is no specified reference
    in the run command.
----------------------------------------------------------------------------------------
*/

params {
    // Map for references
    default_ref = "${projectDir}/assets/reference/D8/MH356245.1.reference.fasta"
    A_ref       = "${projectDir}/assets/reference/A/FJ211590.fasta"
    B1_ref      = null
    B2_ref      = null
    B3_ref      = "${projectDir}/assets/reference/B3/MK513622.1.reference.fasta"
    C1_ref      = null
    C2_ref      = null
    D1_ref      = null
    D2_ref      = null
    D3_ref      = null
    D4_ref      = null
    D5_ref      = null
    D6_ref      = null
    D7_ref      = null
    D8_ref      = "${projectDir}/assets/reference/D8/MH356245.1.reference.fasta"
    D9_ref      = null
    D10_ref     = null
    D11_ref     = null
    E_ref       = null
    F_ref       = null
    G1_ref      = null
    G2_ref      = null
    G3_ref      = null
    H1_ref      = null
    H2_ref      = null

    // Map for primers
    default_bed = "${projectDir}/assets/reference/D8/primers.bed"
    A_bed       = "${projectDir}/assets/reference/A/primers.bed"
    B1_bed      = null
    B2_bed      = null
    B3_bed      = "${projectDir}/assets/reference/B3/primers.bed"
    C1_bed      = null
    C2_bed      = null
    D1_bed      = null
    D2_bed      = null
    D3_bed      = null
    D4_bed      = null
    D5_bed      = null
    D6_bed      = null
    D7_bed      = null
    D8_bed      = "${projectDir}/assets/reference/D8/primers.bed"
    D9_bed      = null
    D10_bed     = null
    D11_bed     = null
    E_bed       = null
    F_bed       = null
    G1_bed      = null
    G2_bed      = null
    G3_bed      = null
    H1_bed      = null
    H2_bed      = null
}
