/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size nanopore tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run phac-nml/measeq -profile test_nanopore,<docker/singularity>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Full Nanopore test profile'
    config_profile_description = 'Full Nanopore test dataset to check pipeline function'

    // Input Data and Params
    input                      = "${projectDir}/test_data/nanopore_samplesheet.csv"
    platform                   = "nanopore"
    reference                  = "${projectDir}/test_data/MH356245.1.reference.fasta"
    outdir                     = "results"
    model                      = "r1041_e82_400bps_sup_v420"
}
