/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size illumina tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run phac-nml/measeq -profile test_illumina,<docker/singularity>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Full Illumina test profile'
    config_profile_description = 'Full Illumina test dataset to check pipeline function'

    // Input Data and Params
    input                      = "${projectDir}/assets/ci-samplesheet.csv"
    platform                   = "illumina"
    reference                  = "${projectDir}/test_data/MH356245.1.reference.fasta"
    outdir                     = "results"
    primer_bed                 = "${projectDir}/test_data/primer.bed"
    remove_duplicates          = true
}
