
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// Changes to processes specific to measles //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
process {
    // FastP filtering thresholds
    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 25 --average_qual 25 --length_required 100'
    }

    // IVAR version
    withName: 'IVAR_CONSENSUS|IVAR_TRIM|IVAR_VARIANTS' {
        container = 'quay.io/biocontainers/ivar:1.4.3--h43eeafb_0'
        conda = 'bioconda::ivar=1.4.3'
    }

    // Want IVAR variants to have near the same cutoff % as consensus to avoid adding low depth positions to the summary table
    //  As there is some inconsistency between the two, the threshold is a bit lower
    withName: 'IVAR_VARIANTS' {
        ext.args = '-t 0.60 -q 20 -m 10'
        ext.args2 = '--ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 0'
        publishDir = [
            path: { "${params.outdir}/variants/ivar" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Adjust the IVAR consensus insertion threshold to match ivar variant threshold
    withName: 'IVAR_CONSENSUS' {
        ext.args = '-t 0.75 -q 20 -m 10 -n N -c 0.75'
        ext.args2 = '--ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 0 -aa'
        ext.prefix = { "${meta.id}.consensus" }
        publishDir = [
            [
                path: { "${params.outdir}/variants/ivar/consensus/ivar" },
                mode: "copy",
                pattern: "*.{fa,txt}",
            ],
            [
                path: { "${params.outdir}/variants/ivar/consensus/ivar" },
                mode: "copy",
                pattern: "*.mpileup",
                enabled: true
            ]
        ]
    }

    // Need nextclade updated for measles dataset
    withName: 'NEXTCLADE_DATASETGET' {
        container = 'quay.io/biocontainers/nextclade:3.8.2--h9ee0642_0'
        conda = 'bioconda::nextclade=3.8.2'
    }
    withName: 'NEXTCLADE_RUN' {
        container = 'quay.io/biocontainers/nextclade:3.8.2--h9ee0642_0'
        conda = 'bioconda::nextclade=3.8.2'
        publishDir = [
            [
                path: { "${params.outdir}/variants/${params.variant_caller}/consensus/${params.consensus_caller}/nextclade" },
                mode: "copy",
                saveAs: { filename -> filename.endsWith(".csv") && !filename.endsWith("errors.csv") && !filename.endsWith("insertions.csv") ? filename : null }
            ],
            [
                path: { "${params.outdir}/variants/${params.variant_caller}/consensus/${params.consensus_caller}/nextclade" },
                mode: "copy",
                pattern: "*.ndjson"
            ]
        ]
    }
}
